#r-about{

  background:url(./img/bg03.png);
  background-position: center;
  background-repeat: no-repeat;


  .inner{


    .r-title{


      h2{
        

        &::before{
        }
      }//h2

      .r-text{

      }

      p{

      }
    }


    .a-container{
      padding-bottom: 50px;
      text-align: center;

      .sub-title{
        text-align: center;
        position: relative;
        display: inline-block;
     

        img{

        }

        .sub-title-text{
          position: absolute;
          top:25%;
          left:50%;
          transform: translate(-50%, -50%);
          color:#fff;
          font-size: 1.5rem;
          white-space: nowrap;

        }
      }//title

      .a-contents{
        display: grid;
        grid-template-columns: minmax(min-content,300px) minmax(min-content,300px)minmax(min-content,300px);
        gap: 20px;
        padding-top: 30px;
        justify-content: center;

        &.seconds{
          grid-template-columns: minmax(min-content,300px) minmax(min-content,300px);
        }


        .a-item{
          display: flex;
          flex-direction: column;
        

          .item-image{


            img{
              max-width: 300px;
              width: 100%;
              vertical-align: bottom;
            }
          }

          .item-text{
            padding:15px;
            border:1px solid #707070;
            background-color: #fff;
          

            .item-title{
              font-size: 1.25rem;
              padding-bottom: 20px;
            }

            .item-discription{
              font-size: 1rem;
              text-align: left; 
              padding-bottom: 30px;
              line-height: 1.75em;

            }


          }
        }

      }

    }//container
    
  }//inner
}//about-contents