#company{

  background-color: $bgcolor;

  .inner{
    padding-bottom: 50px;

    .r-title{

      h2{

      }
    }

    .company-concept{

      background-color: #fff;
      max-width: 1000px;
      width: 100%;
      margin: 0 auto;
      border: 1px solid $grey-font;
      text-align: center;


      tr{
        border-bottom: 1px dashed #707070;
        font-size: 0.75rem;
        line-height: 50px;
        display: flex;
        flex-direction: column;

        &:last-child{
          border:none;
        }

        @include SmallTab{
          font-size: 1em;
        }

        @include MidTab{
          font-size: 1.5em;
          line-height: 100px;
        }

        th{
        padding-left: 10px ;

          @include SmallTab{
            padding: 0px 30px;
          }
       
        }

        td{
          padding-left: 10px ;
    
          @include SmallTab{
            padding: 0px 30px;
          }

          li{
            font-size: 0.75rem;
            list-style:none;

            @include SmallTab{
              font-size: 1rem;
            }

            @include MidTab{
              font-size: 1.25em;
            }
          }
        }
      }
    }




  }

}