#day{


    .d-title{
      text-align: center;

      background:url("./img/sample-image.jpg");
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      height: 200px;
      width: 100%;
      position: relative;

      .d-title-text{
        font-size: 1.75rem;
        background-color: #fff;
        position: absolute;
        top:50%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding:20px;
        text-shadow: 2px 2px 2px black;
        font-weight: bold;
      

      }
      
    }

  }
    .inner{

      .d-contents{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 100px;
        padding-top: 100px;


        .d-item{
          text-align: center;

          .d-item-text{
            
            font-size: 1.5rem;
            width: 120px;
            height: 120px;
   
            line-height: 120px;
            border-radius: 50%;
            background-color: #60C3A3;
            color: #fff;
          }


          span{
            width: 7px;
            height: 7px;
            border-radius: 50%;
            background-color:#000 ;
            display: inline-block;

            & + span{
              margin-left: 7px;
            }
          }

        }//item
      }
  }
