#detail{

  background-color: $bgcolor;

  .inner{
    padding-bottom: 50px;

 
   

    table{
      margin-bottom: 50px;
      background-color: #fff;
      width: 100%;
      line-height: 60px;

      tr{        
        padding-top: 100px;

       th{
        padding-left:30px;
        padding-right:30px;
        }

        td{
          font-size: 1rem;
          line-height: 2em;
          padding-left:50px;
        }

      }
    }


  }


}