header{
  height: 100px;
  position: fixed;
  margin:0 auto;
  width: 100%;
  z-index: 100;

  .inner{
    line-height: 100px;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    position: relative;
    align-items: center;
    position: relative;
   
    h1{
      font-size: 1.5rem;
    }

    .navigation{
      display: none;

      @include OverTab{
        display: block;
      }

      ul{
        display: flex;

        li{
          &+li{
            margin-left:20px;
          }
        a{
          font-size: 0.75rem;
          font-weight: bold;
         }
        }
      }//ul


      &.-active{
        display: block;
        position: fixed;
        top:0;
        right: 0;
        bottom: 0;
        width: 200px;
        height: 100%;
  
        
        text-align: left;
        background-color: #F0ECEC;
        padding-top: 100px;


        ul{
          flex-direction: column;

          li{
            padding-left: 10px;
            border-bottom: 1px solid #000;
            &+li{
              margin-left:0px;
            }
          a{
            font-size: 0.75rem;
           }
          }
        }
      }

    }//nav




    button{
      display: block;
      position: relative;
      appearance: none;
      outline: none;
      font:inherit;
      border: none;
      background-color: transparent;
      width:30px;
      height:30px;


      @include OverTab{
        display: none;
      }

      span{
        display: block;
        background-color: black;
        height:  2px;
        width: 100%;
        position:absolute;
        transition: 0.3s ease;
  

        &:first-child{
          top:0;
        }
        &:nth-child(2){
          top:0;
          bottom: 0;
          margin: auto;
        }
        &:last-child{
          bottom:0;
        }
    
      }

      &.-active{

        span{
          top:0;
          bottom: 0;
          margin: auto;
          transition: 0.3s ease;
    
          &:first-child{
           transform: rotate(45deg);
          }
          &:nth-child(2){
            transform: rotate(45deg);
          }
          &:last-child{
            transform: rotate(-45deg);
          }
        }
    
      }

  

    }



  }//inner
}//header