#r-top{
  height: 550px;
  padding-top: 100px;
  box-sizing: border-box;
  background:url("./img/bg02.png");
  background-repeat: no-repeat;
  background-position: center;

  @include SmallTab{
    height: 800px;
  }

    .inner{
      height: 100%;
      position: relative;




      h2{
        position: relative;
        z-index: 10;      
        display: inline-block;

        font-size: 1.25rem;
        line-height: 1.5em;

        top: 50%;
        left:50%;
        transform: translate(-50%, -50%);
        white-space: nowrap;
  

        @include SmallTab{
          top: 35%;
          left:25%;
          transform: translate(-40%, -50%);
        }

        @include MidTab{

          font-size: 2.5rem;
          line-height: 1.75em;
        }
        
    
  
        .catch-top{
          background-color: #fff;
          padding:0 20px;
          display: inline-block;
          box-shadow: 10px 5px 5px $grey-font;

        }
        .catch-middle{
          background-color: #fff;
          padding:0 20px;
          display: inline-block;
          margin-left: 30px;
          margin-top: 15px;
          box-shadow: 10px 5px 5px $grey-font;
        }
        .catch-bottom{
          background-color: #fff;
          display: inline-block;
          padding:0 20px;
          margin-left: 60px;
          margin-top: 15px;
          box-shadow: 10px 5px 5px $grey-font;
 
        }

      }

    .main-visual{
      position: absolute;
      z-index: 0;
      top:10%;
      right: 10%;


      img{
        max-width:400px ;
        width: 100%;
        border-radius: 20px;

        @include MidTab{
          max-width:600px ;
        }
      }   
    }

    .sub-visual{
      position: absolute;
    
      z-index: 0;
      top: 50%;
      left:100px;

      @include MidTab{
        bottom: 50px;
      left:100px;
      }


      img{      
        max-width:300px ;
        width: 100%;
        border-radius: 20px;

        @include MidTab{
          max-width:400px ;
        }
      }
    }

    
  }
}