#staff{
  background-color: $bgcolor;



  .inner{
    
    .r-title{

      h2{

      }
    }


    .s-contents{
      padding-bottom: 120px;
      text-align: center;

      .s-item{
     
        // text-align: center;
        // justify-content: center;
        // flex-direction: column;
        display: inline-block;



        @include MidTab{
          display: flex;
          flex-direction: row;
          text-align: left;

        }

        & + div{
          padding-top: 100px;

        }

        .s-item-image{
          position: relative;
          display: inline-block;

          img{
            max-width: 420px;
            width: 100%;
   

            @include MidTab{
              transform: translate(10%, 10%);
            }
          }


          span{
            position: absolute;
            z-index: 10;
            top: 0;
            left: 0;
            color: #fff;
            background-color: #60C3A3;
            font-size: 1.5rem;
            padding: 10px;

            @include SmartTab{
              font-size: 2.5rem;
            }
            
            @include MidTab{
              transform: translate(10%, 10%);
            }
   
          }
        }//image


        .s-item-text{
          padding:30px;
          background-color: #fff;
          max-width: 420px;
          width: 100%;
          box-sizing: border-box;
          margin: 0 auto;
          // display: inline-block;

          @include MidTab{
            transform: translate(-10%, 20%);
            margin: 0;
            border-radius: 20px;
          }
       
      

          .s-item-title{
            padding-bottom: 20px;
            font-size: 1.25rem;
            line-height: 1.5em;
            font-weight: bold;
            
            @include MidTab{
              font-size: 1.5rem;
            }

          }

          .s-item-discription{
            text-align: left;
            font-size: 1rem;
            line-height: 1.5em;

            @include MidTab{
              font-size: 1.1rem;
            }
            
      
          }

        }//text
      }//item
    }//contetns


  }//inner
}