@charset "UTF-8";
header {
  height: 100px;
  position: fixed;
  margin: 0 auto;
  width: 100%;
  z-index: 100;
}

header .inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  line-height: 100px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .inner h1 {
  font-size: 1.5rem;
}

header .inner nav {
  display: none;
}

@media screen and (min-width: 1000px) {
  header .inner nav {
    display: block;
  }
}

header .inner nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header .inner nav ul li + li {
  margin-left: 20px;
}

header .inner nav ul li a {
  font-size: 0.75rem;
}

header .inner button {
  display: block;
  position: relative;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  outline: none;
  font: inherit;
  border: none;
  background-color: transparent;
  width: 30px;
  height: 30px;
}

@media screen and (min-width: 1000px) {
  header .inner button {
    display: none;
  }
}

header .inner button span {
  display: block;
  background-color: black;
  height: 2px;
  width: 100%;
  position: absolute;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

header .inner button span:first-child {
  top: 0;
}

header .inner button span:nth-child(2) {
  top: 0;
  bottom: 0;
  margin: auto;
}

header .inner button span:last-child {
  bottom: 0;
}

header .inner button.-active span {
  top: 0;
  bottom: 0;
  margin: auto;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

header .inner button.-active span:first-child {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

header .inner button.-active span:nth-child(2) {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

header .inner button.-active span:last-child {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

#contact-btn {
  position: fixed;
  bottom: 30px;
  right: 30px;
  z-index: 100;
}

#contact-btn img {
  width: 100px;
}

@media screen and (min-width: 800px) {
  #contact-btn {
    bottom: 150px;
    right: 60px;
  }
  #contact-btn img {
    width: 100%;
  }
}

body {
  font-family: "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "游ゴシック", "YuGothic", "メイリオ", "Meiryo", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  color: #707070;
}

.inner {
  max-width: 1000px;
  margin: 0 auto;
  width: 100%;
  padding: 0px 30px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #000;
}

.text-orange {
  color: #DE5C46;
}

.text-green {
  color: #60C3A3;
}

.r-title {
  text-align: center;
  color: #707070;
  padding-bottom: 50px;
  padding-top: 50px;
}

.r-title h2 {
  font-size: 1.75rem;
  position: relative;
}

.r-title .r-text {
  padding-top: 50px;
  padding-bottom: 20px;
  font-size: 1.25rem;
  line-height: 1.5em;
}

@media screen and (min-width: 800px) {
  .r-title .r-text {
    font-size: 1.75rem;
  }
}

.r-title p {
  font-size: 0.75rem;
  line-height: 1.5em;
}

@media screen and (min-width: 800px) {
  .r-title p {
    font-size: 1rem;
  }
}

.marker {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(60%, transparent), color-stop(60%, #ed9d8f));
  background: linear-gradient(transparent 60%, #ed9d8f 60%);
}

#r-top {
  height: 550px;
  padding-top: 100px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: url("./img/bg02.png");
  background-repeat: no-repeat;
  background-position: center;
}

@media screen and (min-width: 600px) {
  #r-top {
    height: 800px;
  }
}

#r-top .inner {
  height: 100%;
  position: relative;
}

#r-top .inner h2 {
  position: relative;
  z-index: 10;
  display: inline-block;
  font-size: 1.25rem;
  line-height: 1.5em;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  white-space: nowrap;
}

@media screen and (min-width: 600px) {
  #r-top .inner h2 {
    top: 35%;
    left: 25%;
    -webkit-transform: translate(-40%, -50%);
            transform: translate(-40%, -50%);
  }
}

@media screen and (min-width: 800px) {
  #r-top .inner h2 {
    font-size: 2.5rem;
    line-height: 1.75em;
  }
}

#r-top .inner h2 .catch-top {
  background-color: #fff;
  padding: 0 20px;
  display: inline-block;
  -webkit-box-shadow: 10px 5px 5px #707070;
          box-shadow: 10px 5px 5px #707070;
}

#r-top .inner h2 .catch-middle {
  background-color: #fff;
  padding: 0 20px;
  display: inline-block;
  margin-left: 30px;
  margin-top: 15px;
  -webkit-box-shadow: 10px 5px 5px #707070;
          box-shadow: 10px 5px 5px #707070;
}

#r-top .inner h2 .catch-bottom {
  background-color: #fff;
  display: inline-block;
  padding: 0 20px;
  margin-left: 60px;
  margin-top: 15px;
  -webkit-box-shadow: 10px 5px 5px #707070;
          box-shadow: 10px 5px 5px #707070;
}

#r-top .inner .main-visual {
  position: absolute;
  z-index: 0;
  top: 10%;
  right: 10%;
}

#r-top .inner .main-visual img {
  max-width: 400px;
  width: 100%;
  border-radius: 20px;
}

@media screen and (min-width: 800px) {
  #r-top .inner .main-visual img {
    max-width: 600px;
  }
}

#r-top .inner .sub-visual {
  position: absolute;
  z-index: 0;
  top: 50%;
  left: 100px;
}

@media screen and (min-width: 800px) {
  #r-top .inner .sub-visual {
    bottom: 50px;
    left: 100px;
  }
}

#r-top .inner .sub-visual img {
  max-width: 300px;
  width: 100%;
  border-radius: 20px;
}

@media screen and (min-width: 800px) {
  #r-top .inner .sub-visual img {
    max-width: 400px;
  }
}

#r-about {
  background: url(./img/bg03.png);
  background-position: center;
  background-repeat: no-repeat;
}

#r-about .inner .a-container {
  padding-bottom: 50px;
  text-align: center;
}

#r-about .inner .a-container .sub-title {
  text-align: center;
  position: relative;
  display: inline-block;
}

#r-about .inner .a-container .sub-title img {
  width: 100%;
}

#r-about .inner .a-container .sub-title .sub-title-text {
  position: absolute;
  top: 25%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: #fff;
  font-size: 1.5rem;
  white-space: nowrap;
}

#r-about .inner .a-container .a-contents {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 30px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#r-about .inner .a-container .a-contents .a-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 450px;
  width: 100%;
  padding-bottom: 35px;
}

@media screen and (min-width: 600px) {
  #r-about .inner .a-container .a-contents .a-item {
    max-width: 290px;
    padding: 10px;
  }
}

#r-about .inner .a-container .a-contents .a-item .item-image img {
  width: 100%;
  vertical-align: bottom;
}

@media screen and (min-width: 600px) {
  #r-about .inner .a-container .a-contents .a-item .item-image img {
    max-width: 300px;
  }
}

#r-about .inner .a-container .a-contents .a-item .item-text {
  padding: 15px;
  border: 1px solid #707070;
  background-color: #fff;
  height: 255px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#r-about .inner .a-container .a-contents .a-item .item-text .item-title {
  font-size: 1.25rem;
  line-height: 1.5em;
  padding-bottom: 20px;
  font-weight: bold;
}

#r-about .inner .a-container .a-contents .a-item .item-text .item-discription {
  font-size: 1rem;
  text-align: left;
  padding-bottom: 30px;
  line-height: 1.75em;
}

#staff {
  background-color: #F7F5F2;
}

#staff .inner .s-contents {
  padding-bottom: 120px;
  text-align: center;
}

#staff .inner .s-contents .s-item {
  display: inline-block;
}

@media screen and (min-width: 800px) {
  #staff .inner .s-contents .s-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    text-align: left;
  }
}

#staff .inner .s-contents .s-item + div {
  padding-top: 100px;
}

#staff .inner .s-contents .s-item .s-item-image {
  position: relative;
  display: inline-block;
}

#staff .inner .s-contents .s-item .s-item-image img {
  max-width: 420px;
  width: 100%;
}

@media screen and (min-width: 800px) {
  #staff .inner .s-contents .s-item .s-item-image img {
    -webkit-transform: translate(10%, 10%);
            transform: translate(10%, 10%);
  }
}

#staff .inner .s-contents .s-item .s-item-image span {
  position: absolute;
  z-index: 10;
  top: 0;
  left: 0;
  color: #fff;
  background-color: #60C3A3;
  font-size: 2.5rem;
  padding: 10px;
}

@media screen and (min-width: 800px) {
  #staff .inner .s-contents .s-item .s-item-image span {
    -webkit-transform: translate(10%, 10%);
            transform: translate(10%, 10%);
  }
}

#staff .inner .s-contents .s-item .s-item-text {
  padding: 30px;
  background-color: #fff;
  max-width: 420px;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0 auto;
}

@media screen and (min-width: 800px) {
  #staff .inner .s-contents .s-item .s-item-text {
    -webkit-transform: translate(-10%, 20%);
            transform: translate(-10%, 20%);
    margin: 0;
    border-radius: 20px;
  }
}

#staff .inner .s-contents .s-item .s-item-text .s-item-title {
  padding-bottom: 20px;
  font-size: 1.25rem;
  line-height: 1.5em;
  font-weight: bold;
}

@media screen and (min-width: 800px) {
  #staff .inner .s-contents .s-item .s-item-text .s-item-title {
    font-size: 1.5rem;
  }
}

#staff .inner .s-contents .s-item .s-item-text .s-item-discription {
  text-align: left;
  font-size: 1rem;
  line-height: 1.5em;
}

@media screen and (min-width: 800px) {
  #staff .inner .s-contents .s-item .s-item-text .s-item-discription {
    font-size: 1.1rem;
  }
}

#day .d-title {
  text-align: center;
  background: url("./img/sample-image.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 200px;
  width: 100%;
  position: relative;
}

#day .d-title .d-title-text {
  font-size: 1.25rem;
  background-color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  padding: 20px;
  text-shadow: 2px 2px 2px black;
  font-weight: bold;
  white-space: nowrap;
}

@media screen and (min-width: 480px) {
  #day .d-title .d-title-text {
    font-size: 1.75rem;
  }
}

.inner {
  padding-bottom: 50px;
}

.inner .d-contents {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: minmax(min-content, 120px) minmax(min-content, 120px);
      grid-template-columns: minmax(-webkit-min-content, 120px) minmax(-webkit-min-content, 120px);
      grid-template-columns: minmax(min-content, 120px) minmax(min-content, 120px);
  gap: 20px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 50px;
  padding-top: 100px;
}

@media screen and (min-width: 1000px) {
  .inner .d-contents {
    -ms-grid-columns: minmax(min-content, 120px) minmax(min-content, 120px) minmax(min-content, 120px) minmax(min-content, 120px) minmax(min-content, 120px) minmax(min-content, 120px) minmax(min-content, 120px);
        grid-template-columns: minmax(-webkit-min-content, 120px) minmax(-webkit-min-content, 120px) minmax(-webkit-min-content, 120px) minmax(-webkit-min-content, 120px) minmax(-webkit-min-content, 120px) minmax(-webkit-min-content, 120px) minmax(-webkit-min-content, 120px);
        grid-template-columns: minmax(min-content, 120px) minmax(min-content, 120px) minmax(min-content, 120px) minmax(min-content, 120px) minmax(min-content, 120px) minmax(min-content, 120px) minmax(min-content, 120px);
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.inner .d-contents .d-item {
  text-align: center;
}

.inner .d-contents .d-item .d-item-text {
  font-size: 1.5rem;
  width: 120px;
  height: 120px;
  line-height: 120px;
  border-radius: 50%;
  background-color: #60C3A3;
  color: #fff;
}

.inner .d-contents .d-item .d-item-subtext {
  font-size: 1.25rem;
  padding-top: 15px;
  font-weight: bold;
}

.inner .d-contents .d-item span {
  font-weight: bold;
  font-size: 3.5rem;
}

.inner .d-contents .d-item span + span {
  margin-left: 7px;
}

.inner .d-message {
  width: 80%;
  margin: 0 auto;
  border: 1px solid black;
  padding: 15px;
}

.inner .d-message li {
  font-size: 1rem;
  line-height: 1.5rem;
  list-style-position: inside;
  padding-bottom: 10px;
}

.d-item.sp-none {
  display: none;
}

@media screen and (min-width: 1000px) {
  .d-item.sp-none {
    display: block;
  }
}

#company {
  background-color: #F7F5F2;
}

#company .inner {
  padding-bottom: 50px;
}

#company .inner .company-concept {
  background-color: #fff;
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
  border: 1px solid #707070;
  text-align: center;
}

#company .inner .company-concept tr {
  border-bottom: 1px dashed #707070;
  font-size: 0.75rem;
  line-height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#company .inner .company-concept tr:last-child {
  border: none;
}

@media screen and (min-width: 600px) {
  #company .inner .company-concept tr {
    font-size: 1em;
  }
}

@media screen and (min-width: 800px) {
  #company .inner .company-concept tr {
    font-size: 1.5em;
    line-height: 100px;
  }
}

#company .inner .company-concept tr th {
  padding-left: 10px;
}

@media screen and (min-width: 600px) {
  #company .inner .company-concept tr th {
    padding: 0px 30px;
  }
}

#company .inner .company-concept tr td {
  padding-left: 10px;
}

@media screen and (min-width: 600px) {
  #company .inner .company-concept tr td {
    padding: 0px 30px;
  }
}

#company .inner .company-concept tr td li {
  font-size: 0.75rem;
  list-style: none;
}

@media screen and (min-width: 600px) {
  #company .inner .company-concept tr td li {
    font-size: 1rem;
  }
}

@media screen and (min-width: 800px) {
  #company .inner .company-concept tr td li {
    font-size: 1.25em;
  }
}

#detail {
  background-color: #F7F5F2;
}

#detail .inner {
  padding-bottom: 50px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#detail .inner .detail-contents {
  margin-bottom: 50px;
  background-color: #fff;
  width: 100%;
  line-height: 70px;
  padding: 20px 0px;
  font-size: 0.75rem;
}

@media screen and (min-width: 480px) {
  #detail .inner .detail-contents {
    font-size: 1rem;
  }
}

#detail .inner .detail-contents tr {
  padding-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#detail .inner .detail-contents tr:last-child {
  padding-bottom: 40px;
}

@media screen and (min-width: 1000px) {
  #detail .inner .detail-contents tr {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

#detail .inner .detail-contents tr th {
  padding-left: 30px;
  padding-right: 30px;
  text-align: left;
}

@media screen and (min-width: 1000px) {
  #detail .inner .detail-contents tr th {
    width: 10%;
  }
}

#detail .inner .detail-contents tr td {
  font-size: 1rem;
  line-height: 2em;
  padding-left: 60px;
  padding-right: 30px;
  font-size: 0.75rem;
}

@media screen and (min-width: 480px) {
  #detail .inner .detail-contents tr td {
    font-size: 1rem;
  }
}

.detail-title {
  text-align: center;
  padding: 20px 0px;
  font-size: 1.25rem;
  font-weight: bold;
}

#flow .inner .d-contents .d-item .d-item-text {
  font-size: 1rem;
}

#contact-form {
  background: url("./img/bg04.png");
  background-repeat: no-repeat;
  background-position: center;
}

#contact-form .inner {
  padding-bottom: 50px;
}

#contact-form .inner .c-contents {
  text-align: center;
  border: 2px solid #DE5C46;
  width: 80%;
  margin: 0 auto;
  margin-bottom: 50px;
  padding: 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#contact-form .inner .c-contents .c-text {
  font-size: 1.25rem;
  padding-bottom: 30px;
}

#contact-form .inner .c-contents .c-item {
  font-size: 1.5rem;
  font-weight: bold;
}

#contact-form .inner .line-contents {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 80%;
  margin: 0 auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 2px solid #60C386;
  padding: 20px 0px;
}

@media screen and (min-width: 480px) {
  #contact-form .inner .line-contents {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

#contact-form .inner .line-contents .line-image {
  padding: 10px;
}

#contact-form .inner .line-contents .line-image img {
  width: 100px;
  height: 100px;
  border: 2px solid #60C386;
}

@media screen and (min-width: 480px) {
  #contact-form .inner .line-contents .line-item {
    padding-left: 30px;
  }
}

#contact-form .inner .line-contents .line-item .line-text {
  padding-bottom: 15px;
  font-size: 1rem;
}

#contact-form .inner .line-contents .line-item .line-text span {
  font-size: 1.25rem;
  font-weight: bold;
}

@media screen and (min-width: 600px) {
  #contact-form .inner .line-contents .line-item .line-text {
    font-size: 1.25rem;
  }
  #contact-form .inner .line-contents .line-item .line-text span {
    font-size: 1.5rem;
  }
}

#contact-form .inner .line-contents .line-item .line-friends {
  background-color: #60C386;
  border-radius: 10px;
  width: 150px;
  margin: 0 auto;
}

#contact-form .inner .line-contents .line-item .line-friends a {
  color: white;
  font-size: 1.25rem;
  line-height: 40px;
}

iframe .line-it-button {
  width: 200px;
  height: 80px;
  visibility: visible;
  position: static !important;
  opacity: 1 !important;
}
/*# sourceMappingURL=style.css.map */